<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zeus.upay">

    <!-- 联系人-->
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <!--Camera 扫描二维码-->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.UApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.QuestionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ForgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AuthenticationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ResetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SelectContactActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RichScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PaymentCodeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TelephoneExpensesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CreditCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LifeExpensesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WithdrawalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransportationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.OneCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LocationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AnalyzeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BillActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.StockActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FinanceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InsuranceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InvestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PersonalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CertificateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EarningsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.InvestmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ServiceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaptureResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.TransferActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
